
<h1>New comment</h1>

<% if @comment.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
    <ul>
      <% @comment.errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render "form", comment: @comment %>

<br>

<div>
  <%= link_to "Back to post", user_post_path(@post.author, @post) %>
</div>
