<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Photo:</strong>
    
    <%= image_tag user.photo, alt: "User Photo", class: "user-photo", title: "User Photo" %>
  </p>

</div>

